voila
fastai>=2
pillow<7
packaging
ipywidgets==7.5.1

https://download.pytorch.org/whl/cpu/torch-1.6.0%2Bcpu-cp36-cp36m-linux_x86_64.whl
https://download.pytorch.org/whl/cu102/torchvision-0.8.1-cp38-cp38-win_amd64.whl


